# Database URL (Used by Prisma on the backend)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/drklawz"

# Google Gemini API Key for AI note extraction
GEMINI_API_KEY=""

# Backend server configurations
PORT=3001
JWT_SECRET="dr_klawz_premium_leather_notebook_secret_key_987654"

# Frontend API URL configuration
NEXT_PUBLIC_API_URL="http://localhost:3001"
